In [15]:
import requests
import pandas as pd

In [25]:
data_l = []

for i in range(int(35387/1000)+1):
    print(i)
    js = requests.get('https://data.cityofnewyork.us/resource/ji82-xba5.json?$offset='+str(i*1000))
    data_l.append(pd.DataFrame(js.json()))

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35

In [27]:
df = pd.concat(data_l)

In [45]:
df.to_csv('public_fac.csv')

In [46]:
data_l = []

for i in range(int(27312/1000)+1):
    print(i)
    js = requests.get('https://data.cityofnewyork.us/resource/8vgb-zm6e.json?$offset='+str(i*1000))
    data_l.append(pd.DataFrame(js.json()))

df = pd.concat(data_l)
df
#df.to_csv('property_values.csv')

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27

,mailed_date,boro,block,lot,address_1,address_2,city_state_zip,tax_class,bld_class,original_market_value,original_assessed_value,original_exemption,original_transitional_assessed_value,original_transitional_exemption,original_taxable_value,revised_market_value,revised_assessed_value,revised_exemption,revised_transitional_assessed_value,revised_transitional_exemption,revised_taxable_value,rc_1,address_3,rc2,borough,postcode,latitude,longitude,community_board,community_council,census_tract,bin,bbl,nta
0,2016-03-18T00:00:00.000,1,803,1021,VICTORIA GODFREY,1139 GARFIELD AVE,VENICE CA 90291-4936,2,R4,302339,136053,0,104994,0,104994,302339,136053,0,101013,0,101013,E1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-03-18T00:00:00.000,1,691,1029,NaN,49 ROGERS ROAD,STAMFORD CT 06902,2,R4,310166,139575,54989,120196,47237,72959,310166,139575,54989,118693,46636,72057,E1,SHIPPAN POINT,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-03-18T00:00:00.000,1,691,1030,NaN,36 ANDREWS FARM RD,GREENWICH CT 06831-3100,2,R4,613390,276026,108747,237694,93414,144280,613390,276026,108747,234720,92225,142495,E1,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-02-19T00:00:00.000,1,1018,1134,NaN,NaN,NaN,2,R4,377626,169932,64339,141590,53002,88588,377626,169932,64339,139885,52320,87565,E1,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-02-23T00:00:00.000,1,343,61,NaN,65 PITT ST,NEW YORK NY 10002-3504,1,B2,2298000,62520,5690,0,0,56830,2758000,62520,5690,0,0,56830,M,NaN,NaN,MANHATTAN,10002,40.717979,-73.982666,3,1,12,1077600,1003430061,Lower East Side
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,2016-02-19T00:00:00.000,5,8003,71,NaN,5475 ARTHUR KILL RD,STATEN ISLAND NY 10307-1101,1,A1,597000,28365,1550,0,0,26815,597000,28365,0,0,0,28365,X,# B,NaN,STATEN IS,10307,40.511623,-74.251622,3,51,248,NaN,NaN,Charleston-Richmond Valley-Tottenville
308,2016-02-19T00:00:00.000,5,8020,67,NaN,7 BENTON CT,STATEN ISLAND NY 10306-2762,1,B2,567000,30816,20858,0,0,9958,567000,30816,0,0,0,30816,X,# 7E,NaN,STATEN IS,10306,40.558178,-74.136315,3,51,13204,5105403,5050150016,Oakwood-Oakwood Beach
309,2016-02-19T00:00:00.000,5,8026,6,NaN,169 MAIN ST,STATEN ISLAND NY 10307-1226,4,E9,440000,20293,0,20293,0,20293,286000,128700,0,41055,0,41055,E1,NaN,NaN,STATEN IS,10307,40.510666,-74.248407,3,51,248,5105003,5080260006,Charleston-Richmond Valley-Tottenville
310,2016-02-19T00:00:00.000,5,8038,63,NaN,32 PARKER ST,STATEN ISLAND NY 10307-1323,1,A5,368000,18735,1550,0,0,17185,368000,18735,0,0,0,18735,X,NaN,NaN,STATEN IS,10307,40.514163,-74.238131,3,51,248,5089045,5080380063,Charleston-Richmond Valley-Tottenville
311,2016-02-19T00:00:00.000,5,8043,19,NaN,7339 AMBOY RD,STATEN ISLAND NY 10307-1425,4,K4,429000,25415,0,25415,0,25415,235000,105750,0,40331,0,40331,E1,NaN,NaN,STATEN IS,10307,40.510925,-74.241776,3,51,248,5089145,5080430019,Charleston-Richmond Valley-Tottenville

In [65]:
df['city_state_zip'] = df['city_state_zip'].astype(str)
df_filter = df[df['city_state_zip'].str.contains('NY')]
df_filter.loc[:, 'zip'] = df_filter['city_state_zip'].str.extract(r'(\d+)-')

/var/folders/l3/_1k9wdns31b0ldkbk1v_1nwm0000gn/T/ipykernel_2383/2447207119.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filter.loc[:, 'zip'] = df_filter['city_state_zip'].str.extract(r'(\d+)-')

In [69]:
df_filter.to_csv('prop_values.csv')